<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bandyer.demo_android_sdk">

    <!-- chat permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name=" android.permission.USE_BIOMETRIC" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity
            android:name=".LoginActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|navigation" />

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@style/SplashScreenAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:icon="@drawable/ic_bandyer_audio_call"
                android:label="@string/join_call_url"
                android:order="999"
                android:priority="999"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sandbox.bandyer.com"
                    android:pathPrefix="/connect/rest-call-handler/"
                    android:scheme="https" />

                <data
                    android:host="sandbox.bandyer.com"
                    android:pathPrefix="/connect/direct-rest-call-handler/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.ConfigurationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="configuration.demo_android_sdk.bandyer.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="configuration.demo_android_sdk.bandyer.com"
                    android:scheme="bandyer" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.DefaultCallSettingsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/default_call_options" />

        <activity
            android:name=".utils.activities.MockUserAuthenticationRequestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|navigation"
            android:theme="@style/SplashScreenAppTheme" />

        <activity android:name=".utils.activities.ImageTextEditActivity" />
        <activity android:name="com.bandyer.demo_android_sdk.utils.activities.MockUserDetailsSettingsActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".utils.activities.QRConfigurationActivity" />

        <service android:name=".notification.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Used for install referrer tracking -->

        <receiver
            android:name=".settings.ConfigurationReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_api_key}" />

        <!-- Bandyer call event broadcast receiver -->

        <receiver
            android:name=".utils.receivers.CallEventBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.bandyer.android_sdk.CALL_EVENT_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Bandyer chat event broadcast receiver -->

        <receiver
            android:name=".utils.receivers.ChatEventBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.bandyer.android_sdk.CHAT_EVENT_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Bandyer unhandled broadcast receiver -->

        <receiver
            android:name=".exceptions.BandyerExceptionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.bandyer.android_sdk.BANDYER_UNHANDLED_EXCEPTION" />
            </intent-filter>
        </receiver>

        <!-- Authentication Request Receiver -->

        <receiver
            android:name=".utils.receivers.AuthenticationRequestNotificationClickedReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Pushy Notifications -->
        <!-- Pushy Notification Receiver -->
        <!-- Incoming push notifications will invoke the following BroadcastReceiver -->

        <receiver
            android:name=".notification.PushyCompat"
            android:exported="false">
            <intent-filter>
                <!-- Do not modify this -->
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>

        <!-- Pushy Update Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->

        <receiver
            android:name="me.pushy.sdk.receivers.PushyUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->

        <receiver
            android:name="me.pushy.sdk.receivers.PushyBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Pushy Socket Service -->
        <!-- Do not modify - internal service -->

        <service android:name="me.pushy.sdk.services.PushySocketService" />

        <!-- Pushy Job Service (added in Pushy SDK 1.0.35) -->
        <!-- Do not modify - internal service -->

        <service
            android:name="me.pushy.sdk.services.PushyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>