<!--
  ~ Copyright (C) 2020 Bandyer S.r.l. All Rights Reserved.
  ~ See LICENSE.txt for licensing information
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bandyer.app_configuration">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <application>

        <activity
            android:name="com.bandyer.app_configuration.external_configuration.activities.ConfigurationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="configuration.demo_android_sdk.bandyer.com"
                    android:scheme="https" />
                <data
                    android:host="configuration.demo_android_sdk.bandyer.com"
                    android:scheme="bandyer" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bandyer.app_configuration.external_configuration.activities.QRConfigurationActivity"
            android:launchMode="singleTask" />

        <activity android:name="com.bandyer.app_configuration.external_configuration.activities.ImageTextEditActivity" />

        <activity
            android:name="com.bandyer.app_configuration.external_configuration.activities.MockUserDetailsSettingsActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>